.wrapper {
    width: 900px;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 50px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: black;
    margin-left: 10%;
}

.wrapper h1 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
    color: black;
}


.input-box {
    position: relative;
    margin-bottom: 20px;
    font-size: 40px;
}

.input-box input {
    width: 80%;
    margin-left: 5%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 50px;
    outline: none;
}

.icons {
    position: absolute;
    right: 15%;
    top: 30%;
    transform: translateY(-50%);
    font-size: 18px;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.remember-forgot label {
    display: inline-block;
    font-size: 20px;
    margin-bottom: 10%;
    margin-top: 5%;
}

.remember-forgot a {
    font-size: 20px;
    text-decoration: none;
    color: #007bff;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

button[type="submit"] {
    width: 30%;
    margin-left: 30%;
    margin-top:2%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.register-link {
    text-align: center;
}

.register-link p {
    font-size: 20px;
    text-align: center;
    margin-left: -10%;
}

.register-link a {
    text-decoration: none;
    color: #007bff;
}

.register-link a:hover {
    text-decoration: underline;
}

.initial-wrapper{
    margin-top: 5%;
}