body{
    background-color: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    margin-left: 5%;
}

.recipe-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 0px;
    margin-left: -5%;
}

.recipe-card {
    margin: 15px;
    padding: 30px;
    padding-top: 0px;
    border-radius: 5px;
    justify-content: center;
    align-self: center;
    width:300px; /* Adjust width to make cards square */
    height: 40%; /* Adjust height to accommodate content */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    overflow: hidden; /* Ensures images don't exceed card boundaries */
    
}

.recipe-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.recipe-card img {
    width: 250px;
    height: 250px;;
    border-radius: 5px;
    align-self: center;
    padding: 40px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top: 0px;
}

.recipe-details h3 {
    margin: 0;
    font-size: 20px;
    color: white;
    text-align: center;
    margin-top: 0px;
    padding-top: 0px;
}

.recipe-details p {
    margin: 0;
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    margin-left: 5%;
    margin-right: 1%;
    text-align: center;
}

h1{
    margin-top: 0px;
    color: #ffffff;
    font-size: 50px;
    text-align: center;
    margin-left: -10%;
}