.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5;
    margin: -15px 0 15px;
    margin-left: 5%;
    color: black;
    margin-right: 13%;
}



